In [ ]:
import pandas as pd
from re import search

In [ ]:
df=pd.read_csv("/content/HOT_Dataset_modified.csv")

In [ ]:
df

      Score  ... Unnamed: 18
0       0.0  ...         NaN
1       2.0  ...         NaN
2       NaN  ...         NaN
3       2.0  ...         NaN
4       NaN  ...         NaN
...     ...  ...         ...
6373    1.0  ...         NaN
6374    NaN  ...         NaN
6375    1.0  ...         NaN
6376    NaN  ...         NaN
6377    1.0  ...         NaN

[6378 rows x 19 columns]

In [ ]:
df.shape

(6378, 19)

In [ ]:
df.iloc[:,[2,18]]

     Unnamed: 2 Unnamed: 18
0           NaN         NaN
1           NaN         NaN
2           NaN         NaN
3           NaN         NaN
4           NaN         NaN
...         ...         ...
6373        NaN         NaN
6374        NaN         NaN
6375        NaN         NaN
6376        NaN         NaN
6377        NaN         NaN

[6378 rows x 2 columns]

In [ ]:
df.drop(df.iloc[:,[2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]],
  axis='columns', inplace=True)

In [ ]:
df

      Score  ... Unnamed: 18
0       0.0  ...         NaN
1       2.0  ...         NaN
2       NaN  ...         NaN
3       2.0  ...         NaN
4       NaN  ...         NaN
...     ...  ...         ...
6373    1.0  ...         NaN
6374    NaN  ...         NaN
6375    1.0  ...         NaN
6376    NaN  ...         NaN
6377    1.0  ...         NaN

[6378 rows x 4 columns]

In [ ]:
df.dropna(subset=['Score', 'Tweet'], inplace=True)

In [ ]:
df

      Score  ... Unnamed: 18
0       0.0  ...         NaN
1       2.0  ...         NaN
3       2.0  ...         NaN
5       2.0  ...         NaN
7       2.0  ...         NaN
...     ...  ...         ...
6369    1.0  ...         NaN
6371    1.0  ...         NaN
6373    1.0  ...         NaN
6375    1.0  ...         NaN
6377    1.0  ...         NaN

[3189 rows x 4 columns]

In [ ]:
df.shape

(3189, 4)

In [ ]:
df_final=pd.read_csv("/data.csv")

In [ ]:
df_final

      Score                                              Tweet
0         0  @saud5683 @Mutayyab420 @shivang598 @Ranask35 @...
1         2  Banti hai empowered woman, feminism pe gyan pe...
2         2  RT @kim_jong_korea: @updatingwait @Acutereply ...
3         2  @InviSibleSold @mabkhan86 @dridadahn Punjab in...
4         2  RT @MrMonsterSaid: Agar koi bole ki ja ke chil...
...     ...                                                ...
3184      1  @zyanmalik0011 @SariaW @asadowaisi @ZairaWasim...
3185      1  @MamataOfficial all love jihaadi should ne kil...
3186      1  @zyanmalik0011 @SariaW @asadowaisi @ZairaWasim...
3187      1  @MirAda94 @anuragsinghrana @bukharishujaat @Al...
3188      1  @FarahKhanAli @anerao15 Kya madam, abhi tak ap...

[3189 rows x 2 columns]

In [ ]:
df_final.shape

(3189, 2)

In [ ]:
df_final.iloc[:,0]

0       0
1       2
2       2
3       2
4       2
       ..
3184    1
3185    1
3186    1
3187    1
3188    1
Name: Score, Length: 3189, dtype: int64

In [ ]:
df_final.iloc[:,1]

0       @saud5683 @Mutayyab420 @shivang598 @Ranask35 @...
1       Banti hai empowered woman, feminism pe gyan pe...
2       RT @kim_jong_korea: @updatingwait @Acutereply ...
3       @InviSibleSold @mabkhan86 @dridadahn Punjab in...
4       RT @MrMonsterSaid: Agar koi bole ki ja ke chil...
                              ...
3184    @zyanmalik0011 @SariaW @asadowaisi @ZairaWasim...
3185    @MamataOfficial all love jihaadi should ne kil...
3186    @zyanmalik0011 @SariaW @asadowaisi @ZairaWasim...
3187    @MirAda94 @anuragsinghrana @bukharishujaat @Al...
3188    @FarahKhanAli @anerao15 Kya madam, abhi tak ap...
Name: Tweet, Length: 3189, dtype: object

In [ ]:
sent=df_final.iloc[95,1]

In [ ]:
sent

'@Bas1King \\xf0\\x9f\\x91\\x8c\\xf0\\x9f\\x91\\x8c\\xf0\\x9f\\x91\\x8c\\xf0\\x9f\\x91\\x8c\\xf0\\x9f\\x91\\x8c Acha reply diya ladkiya khe rahi Bahenchod jab itna normal hai to maal khe diya to kya galat Maal h\\xe2\\x80\\xa6 https://t.co/6xbWS1cIlU'

In [ ]:
l=sent.split()
k = ['-','\n',',','.','"',"_","  ","   ","=","/","\\n",":","1","2","3","4","5","6","7","8","9","0","[","]", "!"]

In [ ]:
l

['@Bas1King',
 '\\xf0\\x9f\\x91\\x8c\\xf0\\x9f\\x91\\x8c\\xf0\\x9f\\x91\\x8c\\xf0\\x9f\\x91\\x8c\\xf0\\x9f\\x91\\x8c',
 'Acha',
 'reply',
 'diya',
 'ladkiya',
 'khe',
 'rahi',
 'Bahenchod',
 'jab',
 'itna',
 'normal',
 'hai',
 'to',
 'maal',
 'khe',
 'diya',
 'to',
 'kya',
 'galat',
 'Maal',
 'h\\xe2\\x80\\xa6',
 'https://t.co/6xbWS1cIlU']

In [ ]:
#removed username
#removed URLs
#removed hashtags --> or (search("#",w)) (test)
#remove symbols 

nl=[]
for w in l:
  if (search("@",w)) or (v.url(w)):
    continue
  for sym in k:
    if (sym in w):
      w=w.replace(sym," ")
  if w==" ":
    continue
  nl.append(w)

s=" ".join(nl)
s

'\\xf \\x f\\x  \\x c\\xf \\x f\\x  \\x c\\xf \\x f\\x  \\x c\\xf \\x f\\x  \\x c\\xf \\x f\\x  \\x c Acha reply diya ladkiya khe rahi Bahenchod jab itna normal hai to maal khe diya to kya galat Maal h\\xe \\x  \\xa '

In [ ]:
li=s.split()
li

['\\xf',
 '\\x',
 'f\\x',
 '\\x',
 'c\\xf',
 '\\x',
 'f\\x',
 '\\x',
 'c\\xf',
 '\\x',
 'f\\x',
 '\\x',
 'c\\xf',
 '\\x',
 'f\\x',
 '\\x',
 'c\\xf',
 '\\x',
 'f\\x',
 '\\x',
 'c',
 'Acha',
 'reply',
 'diya',
 'ladkiya',
 'khe',
 'rahi',
 'Bahenchod',
 'jab',
 'itna',
 'normal',
 'hai',
 'to',
 'maal',
 'khe',
 'diya',
 'to',
 'kya',
 'galat',
 'Maal',
 'h\\xe',
 '\\x',
 '\\xa']

In [ ]:
#again remove symbol words if any left

nl=[]
for w in li:
  add=True
  for sym in k:
    if sym in w or "\\" in w:
      add=False
  if add==True:
    nl.append(w)
st=" ".join(nl)
print(st)

c Acha reply diya ladkiya khe rahi Bahenchod jab itna normal hai to maal khe diya to kya galat Maal

In [ ]:
!pip install validators

Requirement already satisfied: validators in /usr/local/lib/python3.7/dist-packages (0.18.2)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from validators) (4.4.2)
Requirement already satisfied: six>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from validators) (1.15.0)

In [ ]:
import validators as v
k = ['-','\n',',','.','"',"_","  ","   ","=","/","\\n",":","1","2","3","4","5","6","7","8","9","0","[","]", "!"]

In [ ]:
final_tweets=[]

In [ ]:
#Manipulate Preprocess dataframe
for dfi in range(3189):

  sent=df_final.iloc[dfi,1]
  l=sent.split()

  #removed username
  #removed URLs
  #remove symbols 

  nl=[]
  for w in l:
    if (search("@",w)) or (v.url(w)):
      continue
    for sym in k:
      if (sym in w):
        w=w.replace(sym," ")
    if w==" ":
      continue
    nl.append(w)

  s=" ".join(nl)
  li=s.split()
  
  #again remove symbol words if any left

  nl=[]
  for w in li:
    add=True
    for sym in k:
      if sym in w or "\\" in w:
        add=False
    if add==True:
      nl.append(w)
  st=" ".join(nl)
  st=st.lower()
  final_tweets.append(st)

df_final['Tweets']=final_tweets

In [ ]:
df_final

      Score  ...                                             Tweets
0         0  ...                             haa jaise tum bhi abhi
1         2  ...  banti hai empowered woman feminism pe gyan pel...
2         2  ...  rt ab usko chhod mjse bat kr tera baap aa gya ...
3         2  ...  punjab in madarchodon ko khila raha hai nokria...
4         2  ...  rt agar koi bole ki ja ke chill maar to madarc...
...     ...  ...                                                ...
3184      1  ...   ye dekha tera islamic kashmiri jihaadi suar bhai
3185      1  ...          all love jihaadi should ne killed aise hi
3186      1  ...      ye dekh madarjaat rand ki aullad tera islamic
3187      1  ...   waise jihaadi kutte ki double maut aane wali hai
3188      1  ...  kya madam abhi tak apne aapne hindu ya jihaadi...

[3189 rows x 3 columns]

In [ ]:
df_final.drop(["Tweet"],axis='columns',inplace=True)

In [ ]:
df_final

      Score                                             Tweets
0         0                             haa jaise tum bhi abhi
1         2  banti hai empowered woman feminism pe gyan pel...
2         2  rt ab usko chhod mjse bat kr tera baap aa gya ...
3         2  punjab in madarchodon ko khila raha hai nokria...
4         2  rt agar koi bole ki ja ke chill maar to madarc...
...     ...                                                ...
3184      1   ye dekha tera islamic kashmiri jihaadi suar bhai
3185      1          all love jihaadi should ne killed aise hi
3186      1      ye dekh madarjaat rand ki aullad tera islamic
3187      1   waise jihaadi kutte ki double maut aane wali hai
3188      1  kya madam abhi tak apne aapne hindu ya jihaadi...

[3189 rows x 2 columns]

In [ ]:
df_final.to_csv("Data.csv")

In [ ]:
df_final.shape

(3189, 2)

In [ ]:
df_final.head

<bound method NDFrame.head of       Score                                             Tweets
0         0                             haa jaise tum bhi abhi
1         2  banti hai empowered woman feminism pe gyan pel...
2         2  rt ab usko chhod mjse bat kr tera baap aa gya ...
3         2  punjab in madarchodon ko khila raha hai nokria...
4         2  rt agar koi bole ki ja ke chill maar to madarc...
...     ...                                                ...
3184      1   ye dekha tera islamic kashmiri jihaadi suar bhai
3185      1          all love jihaadi should ne killed aise hi
3186      1      ye dekh madarjaat rand ki aullad tera islamic
3187      1   waise jihaadi kutte ki double maut aane wali hai
3188      1  kya madam abhi tak apne aapne hindu ya jihaadi...

[3189 rows x 2 columns]>

In [ ]:
df_final.describe

<bound method NDFrame.describe of       Score                                             Tweets
0         0                             haa jaise tum bhi abhi
1         2  banti hai empowered woman feminism pe gyan pel...
2         2  rt ab usko chhod mjse bat kr tera baap aa gya ...
3         2  punjab in madarchodon ko khila raha hai nokria...
4         2  rt agar koi bole ki ja ke chill maar to madarc...
...     ...                                                ...
3184      1   ye dekha tera islamic kashmiri jihaadi suar bhai
3185      1          all love jihaadi should ne killed aise hi
3186      1      ye dekh madarjaat rand ki aullad tera islamic
3187      1   waise jihaadi kutte ki double maut aane wali hai
3188      1  kya madam abhi tak apne aapne hindu ya jihaadi...

[3189 rows x 2 columns]>